html,
body,
.ground {
  min-height: 100vh;
}

body {
  background-color: #cce6fd;
  animation: dayTime 40s linear infinite;
}

/*CLOUDS*/
.sky {
  position: relative;
}

.cloud {
  margin: 5% 0 0 100%;
  position: relative;
}

.cloud:before,
.cloud:after {
  position: absolute;
  content: "";
}

.cloud,
.cloud:before,
.cloud:after {
  background: #fff;
  border-radius: 50%;
  border: 25px solid #fff;
  width: 0.5%;
  overflow: visible;
}

.cloud:before {
  top: -35px;
  right: -60px;
  border-width: 30px;
}

.cloud:after {
  bottom: -25px;
  right: -95px;
  border-width: 28px;
}

.sky .cloud:nth-child(1) {
  -webkit-animation: wind 80s infinite;
  animation: wind 80s infinite;
}

.sky .cloud:nth-child(2) {
  -webkit-animation: wind 150s infinite;
  animation: wind 150s infinite;
}


/*ANIMATIONS*/
@-webkit-keyframes dayTime {
  0% {
    background-color: #cce6fd;
  }
  50% {
    background-color: #252645;
  }
  100% {
    background-color: #cce6fd;
  }
}
@keyframes dayTime {
  0% {
    background-color: #cce6fd;
  }
  50% {
    background-color: #252645;
  }
  100% {
    background-color: #cce6fd;
  }
}
@-webkit-keyframes puf {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: -1px;
  }
  100% {
    bottom: 5px;
  }
}
@keyframes puf {
  0% {
    bottom: 0px;
  }
  25% {
    bottom: -1px;
  }
  100% {
    bottom: 5px;
  }
}
@-webkit-keyframes wind {
  0% {
    right: 0;
  }
  100% {
    right: 110%;
  }
}
@keyframes wind {
  0% {
    right: 0;
  }
  100% {
    right: 110%;
  }
}
@-webkit-keyframes voyage {
  0% {
    left: -310px;
  }
  100% {
    left: 100%;
  }
}
@keyframes voyage {
  0% {
    left: -310px;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}